scripts/uv
scripts/apt-select
scripts/bat
scripts/drawpit
scripts/fd
scripts/fdfind
scripts/finder
scripts/ignore.txt
scripts/main
scripts/manim
scripts/manimce
scripts/qtile
scripts/tmenu
scripts/tmux-sessionizer
scripts/tmux.bak
scripts/uv
scripts/uvx
scripts/wal
scripts/websockets
scripts/wow.txt
scripts/yt-dlp
scripts/ytdlp
scripts/ytplay
scripts/zath
scripts/zed
